<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="qlpn_dbEntities" connectionString="metadata=res://*/qlpn.csdl|res://*/qlpn.ssdl|res://*/qlpn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=qlpn_db;user id=sa;password=qlpn2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/qlpn.csdl|res://*/qlpn.ssdl|res://*/qlpn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=qlpn_db;persist security info=True;user id=sa;password=qlpn2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>