USE [qlpn_db]
GO
/****** Object:  Table [dbo].[code_mst]    Script Date: 2019/03/02 23:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_mst](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [char](2) NOT NULL,
	[code] [nvarchar](3) NOT NULL,
	[value] [nvarchar](255) NULL,
	[comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[division_mst]    Script Date: 2019/03/02 23:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[division_mst](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_trai] [varchar](16) NOT NULL,
	[ten_trai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prison_mst]    Script Date: 2019/03/02 23:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prison_mst](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_dang_ky] [varchar](16) NOT NULL,
	[ma_trai_giam] [varchar](16) NULL,
	[ngay_thang_nam_sinh] [datetime] NULL,
	[ho_va_ten] [nvarchar](255) NULL,
	[ten_goi_khac] [nvarchar](255) NULL,
	[gioi_tinh] [char](1) NULL,
	[que_quan] [nvarchar](255) NULL,
	[noi_dktt] [nvarchar](255) NULL,
	[toi_danh] [nvarchar](255) NULL,
	[ngay_bat] [datetime] NULL,
	[an_phat] [nvarchar](255) NULL,
	[ngay_nhap_trai] [datetime] NULL,
	[phan_loai_quan_che] [nvarchar](255) NULL,
	[ngay_dua_vao_dien_quan_che] [datetime] NULL,
	[doi_hien_tai] [nvarchar](255) NULL,
	[buong_so] [nvarchar](255) NULL,
	[khu] [nvarchar](255) NULL,
	[phan_trai] [nvarchar](255) NULL,
	[danh_muc] [char](2) NULL,
	[danh_muc_1] [char](2) NULL,
	[pham_vi_hoat_dong] [nvarchar](255) NULL,
	[bieu_hien_hoat_dong_hien_hanh] [char](2) NULL,
	[bien_phap_nghiep_vu] [char](2) NULL,
	[bien_phap_ky_luat] [char](2) NULL,
	[ngay_dua_ra] [datetime] NULL,
	[ly_do_dua_ra] [nvarchar](255) NULL,
	[ton_giao] [char](2) NULL,
	[dan_toc] [char](2) NULL,
	[quoc_tich] [char](3) NULL,
	[trinh_do_hoc_van] [char](2) NULL,
	[ngoai_ngu] [char](2) NULL,
	[ten_cha] [nvarchar](255) NULL,
	[ten_me] [nvarchar](255) NULL,
	[ten_vo_chong] [nvarchar](255) NULL,
	[tien_an] [nvarchar](255) NULL,
	[tien_su] [nvarchar](255) NULL,
	[ngay_tao] [datetime] NULL,
	[nguoi_tao] [varchar](16) NULL,
	[ngay_cap_nhat] [datetime] NULL,
	[nguoi_cap_nhat] [varchar](16) NULL,
 CONSTRAINT [PK_prison_mst] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[code_mst] ON 

INSERT [dbo].[code_mst] ([id], [category_id], [code], [value], [comment]) VALUES (1, N'00', N'01', N'Nam', N'Giới tính')
INSERT [dbo].[code_mst] ([id], [category_id], [code], [value], [comment]) VALUES (2, N'00', N'02', N'Nữ', N'Giới tính')
INSERT [dbo].[code_mst] ([id], [category_id], [code], [value], [comment]) VALUES (3, N'01', N'00', N'AĐB', N'Phân loại quản chế')
GO
SET IDENTITY_INSERT [dbo].[code_mst] OFF
SET IDENTITY_INSERT [dbo].[division_mst] ON 

INSERT [dbo].[division_mst] ([id], [ma_trai], [ten_trai]) VALUES (1, N'OVLB0004', N'Phú Sơn 4')
INSERT [dbo].[division_mst] ([id], [ma_trai], [ten_trai]) VALUES (2, N'OVLB0002', N'Hồng Ca')
INSERT [dbo].[division_mst] ([id], [ma_trai], [ten_trai]) VALUES (3, N'0VLB0013', N'Tân Lập')
SET IDENTITY_INSERT [dbo].[division_mst] OFF
SET IDENTITY_INSERT [dbo].[prison_mst] ON 

SET IDENTITY_INSERT [dbo].[prison_mst] OFF
