/****** Object:  Table [dbo].[code_mst]    Script Date: 2019/03/02 23:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_mst](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [char](2) NOT NULL,
	[code] [nvarchar](3) NOT NULL,
	[value] [nvarchar](255) NULL,
	[comment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[code_mst] ON 

INSERT [dbo].[code_mst] ([id], [category_id], [code], [value], [comment]) VALUES (1, N'00', N'01', N'Nam', N'Giới tính')
INSERT [dbo].[code_mst] ([id], [category_id], [code], [value], [comment]) VALUES (2, N'00', N'02', N'Nữ', N'Giới tính')
INSERT [dbo].[code_mst] ([id], [category_id], [code], [value], [comment]) VALUES (3, N'01', N'00', N'AĐB', N'Phân loại quản chế')
GO
SET IDENTITY_INSERT [dbo].[code_mst] OFF
